<ion-header>
  <ion-navbar color="primary">
    <ion-title>News</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="global.presentPopover($event)">
        <div *ngIf="this.global.getLogin()">{{this.global.getUsername()}}&nbsp;&nbsp;</div>
        <ion-icon name="contact" isActive="true"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-grid class="button-group" sticky>
      <ion-row>
        <ion-col>
          <button ion-button icon-start block color="primary" [outline]="this.segment != 'nhl'" (click)="this.onSegmentChange('nhl');">
              <ion-icon name="icon-ci-hockey"></ion-icon>
              NHL
            </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start block [outline]="this.segment != 'nba'" (click)="this.onSegmentChange('nba');">
              <ion-icon name='basketball' is-active="false"></ion-icon>
              NBA
            </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start block [outline]="this.segment != 'mlb'" (click)="this.onSegmentChange('mlb');">
                <ion-icon name='baseball' is-active="false"></ion-icon>
                MLB
              </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start block [outline]="this.segment != 'nfl'" (click)="this.onSegmentChange('nfl');">
                <ion-icon name='american-football' is-active="false"></ion-icon>
                NFL
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let article of articles" (click)="global.openLink(article.url)" color="light">
    <ion-item class="item-text-wrap" color="dark">
      <h2 class="wrap" style="color: white; font-weight: bolder">{{article.title}}</h2>
    </ion-item>
    <img src="{{article.urlToImage}}">
    <ion-card-content>
      <p [innerHTML]="article.description" color="light">
      </p>
      <br/>
      <div class="date" color="light">{{article.publishedAt | date}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>