*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.apiconnect
.vscode
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
schemas
typings
npm-debug.log
client/megafanz/resources
client/megafanz/plugins
client/megafanz/node_modules
client/megafanz/.editorconfig
client/megafanz/.gitignore
client/megafanz/config.xml
client/megafanz/ionic.config.json
client/megafanz/package.json
client/megafanz/README.node_modules
client/megafanz/tsconfig.json
client/megafanz/tslint.json
client/README.md
client/megafanz/src/providers/global-service/global-params.deveopment.ts
server/datasources.development.json