*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.apiconnect
.vscode
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
schemas
typings
npm-debug.log
client/fancave/src/providers/global-service/global-params.ts
client/fancave/www
client/fancave/resources
client/fancave/plugins
client/fancave/node_modules
client/fancave/.editorconfig
client/fancave/.gitignore
client/fancave/config.xml
client/fancave/ionic.config.json
client/fancave/package.json
client/fancave/README.md
client/fancave/tsconfig.json
client/fancave/tslint.json
client/README.md
server/datasources.json